@import url(style.css);

main div.container{
    width: 90vw;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;

}

main div.container div.selecionar-capitulo{
    width: 80%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--preto);

}

main div.container div.selecionar-capitulo h1{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2em;

    color: var(--branco);
}
main div.container div.selecionar-capitulo section{
    max-width: 90%;
    width: 90%;
    height: 90%;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    overflow-x: auto;
    overflow-y: hidden;

    padding: 10px;
}
main div.container div.selecionar-capitulo section::-webkit-scrollbar{
    
}
main div.container div.selecionar-capitulo section::-webkit-scrollbar-track{
    
}
main div.container div.selecionar-capitulo section::-webkit-scrollbar-thumb{
    
}

main div.container div.selecionar-capitulo section a{
    height: 100%;
    min-width: 12vw;
    /* border: 1px solid black; */


    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;

    text-decoration: none;
    color: var(--branco);

    
    
    transition: .3s;


}
main div.container div.selecionar-capitulo section a:hover{
    transform: translateY(-6px);
    transition: .3s;
}
main div.container div.selecionar-capitulo section a:active{
    transform: translateY(-3px);
    transition: .3s;
}
main div.container div.selecionar-capitulo section a::before{
    content: '';
    border-radius: 2px;
    
    /* ;../img/HaikyuuCapitulo01-banner.png */
    background-position: center;
    background-size: cover;

    height: 100%;
    width: 100%;
    min-width: 12vw;    

    filter: brightness(40%);

}
main div.container div.selecionar-capitulo section a:nth-child(1)::before{
    background-image: url(../img/HaikyuuCapitulo01/HaikyuuCapitulo01_003.jpg);
}
main div.container div.selecionar-capitulo section a:nth-child(2)::before{
    background-image: url(../img/HaikyuuCapitulo02/HaikyuuCapitulo02_003.jpg);
}
main div.container div.selecionar-capitulo section a:nth-child(3)::before{
    background-image: url(../img/HaikyuuCapitulo03/HaikyuuCapitulo03_003.jpg);
}
main div.container div.selecionar-capitulo section a:nth-child(4)::before{
    background-image: url(../img/HaikyuuCapitulo04/HaikyuuCapitulo04_003.jpg);
}
main div.container div.selecionar-capitulo section a:nth-child(5)::before{
    background-image: url(../img/HaikyuuCapitulo05/HaikyuuCapitulo05_003.jpg);
}
main div.container div.selecionar-capitulo section a:nth-child(6)::before{
    background-image: url(../img/HaikyuuCapitulo06/HaikyuuCapitulo06_003.jpg);
}
main div.container div.selecionar-capitulo section a:nth-child(7)::before{
    background-image: url(../img/HaikyuuCapitulo07/HaikyuuCapitulo07_003.jpg);
}
main div.container div.selecionar-capitulo section a:nth-child(8)::before{
    background-image: url(../img/HaikyuuCapitulo08/HaikyuuCapitulo08_003.jpg);
}
main div.container div.selecionar-capitulo section a:nth-child(9)::before{
    background-image: url(../img/HaikyuuCapitulo09/HaikyuuCapitulo09_003.jpg);
}
main div.container div.selecionar-capitulo section a:nth-child(10)::before{
    background-image: url(../img/HaikyuuCapitulo10/HaikyuuCapitulo10_003.jpg);
}
main div.container div.selecionar-capitulo section a:nth-child(11)::before{
    background-image: url(../img/HaikyuuCapitulo11/HaikyuuCapitulo11_003.jpg);
}

main div.container div.selecionar-capitulo section a p{
    /* margin-top: ; */

    font-size: 1.4em;
    font-weight: bold;

}


@media screen and (max-width: 500px) {
    main div.container{
        width: 90vw;
        height: 90vh;
    }
    main div.container div.selecionar-capitulo{
        width: 100%;
        height: 90%;
    }
    main div.container div.selecionar-capitulo section{
        overflow-x: auto;
        max-width: 100%;
    }

    main div.container div.selecionar-capitulo section a{
        width: 80%;
        min-width: 80%;


    }
    main div.container div.selecionar-capitulo section a p{
        font-size: 2em;
    }
}